{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'UGD/style.css' %}" />
    <link rel="shortcut icon" href="{% static 'favicon.png' %}"/>
    {% block extrastyles %}{% endblock %}
</head>
<header>
    {% block navigation %}{% endblock %}
    <div>
        <a href="{% url 'UGD:rating_list' %}"><img src="{%  static  'UGD/images/ufgo_logo.jpg' %}" style="width:1000px"></a>
        {% block header %}{% endblock %}
    </div>
</header>
<body {% block boy_attrs %}{% endblock %}>
    {% block body %}{% endblock %}
</body>
<script src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
{% block javascripts %}{% endblock %}
</html>