{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'UGD/style.css' %}" />
    <link rel="shortcut icon" href="{% static 'favicon.png' %}"/>
    {% block extrastyles %}{% endblock %}
</head>
<body>
	<header>
		<nav class="navbar navbar-default navbar-toggleable-sm navbar-fixed-top">
			  <button class="navbar-toggler navbar-toggler-right" 
				  type="button" 
				  data-toggle="collapse" 
				  data-target="#navbarSupportedContent" 
				  aria-controls="navbarSupportedContent" 
				  aria-expanded="false"
				  aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"> = </span>
			  </button>
			<div class="navbar-header">
			  <a class="navbar-brand" href="{% url 'UGD:index' %}">UGD</a>
		  </div>
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="nav navbar-nav">
			  <li><a href="{% url 'UGD:rating_list' %}">Рейтинг-лист</a></li>
			  <li><a href="{% url 'UGD:tournament_list' %}">Турніри</a></li>
			  <li><a href="{% url 'UGD:games_list' %}">Партії</a></li>
			  <li><a href="{% url 'UGD:rating_calculator' %}">Калькулятор рейтингу</a></li>
			  <li><a href="{% url 'admin:index' %}">UGD админ</a></li>
		  </ul>
		  </div>
		</nav>
		<div class="table-container">
			<a  class="ugf-banner" href="{% url 'UGD:rating_list' %}"><img src="{%  static  'UGD/images/ufgo_logo.jpg' %}" style="width:1000px"></a>
			{% block header %}{% endblock %}
		</div>
</header>
    {% block body %}{% endblock %}
</body>
<script src="{% static 'admin/js/vendor/jquery/jquery.js' %}" defer></script>
<script src="{% static 'bootstrap/js/bootstrap.js' %}" defer></script>
<script src="{% static 'UGD/js/navbar.js' %}" defer></script>
{% block javascripts %}{% endblock %}
</html>
