{% extends 'UGD/base.html' %}
{% load render_table from django_tables2 %}
{% load static %}
{% block title %}
    UGF: информація про гравця
{% endblock %}
{% block extrastyles %}
    <link rel="stylesheet" href="{% static 'UGD/tables.css' %}" />
{% endblock %}
{% block header %}
    <div class="title"><h1>{{ player }} ({{ player.rank }})</h1></div>
{% endblock %}
{% block body %}
    {% render_table table %}
{% endblock %}
{% block javascripts %}
    <script src="{% static 'UGD/js/tournament_info.js' %}"></script>
{% endblock %}