{% extends 'UGD/base.html' %}
{% load static %}
{% block title %}UGF: калькулятор рейтингу{% endblock %}
{% block extrastyles %}
    <link rel="stylesheet" href="{% static 'UGD/tables.css' %}" />
{% endblock %}
{% block header %}
    <div class="title"><h1>Калькулятор рейтингу УФГО</h1></div>
{% endblock %}
{% block body %}
<div class="table-container">
<form id="rating_form" class="rating_calculator" method="get" action="{% url 'UGD:rating_calculator' %}">
<table class="ugd_table">
<tr>
    <th><label for="first_rating">Текущий R1:</label></th>
    <th><label for="second_rating">Текущий R2:</label></th>
    <th><label for="result">Результат:</label></th>
    <th><label for="submit">Отправить</label></th>
</tr>
<tr class="input">
    <td><input type="number" maxlength="8" id="first_rating" name="first_rating" value="{{ request.GET.first_rating }}"></td>
    <td><input type="number" id="second_rating" name="second_rating" value="{{ request.GET.second_rating }}"></td>
    <td><input type="number" name="result" id="result" value="{{ request.GET.result }}"></td>
    <td><input type="submit" id="submit" value="Рассчет"></td>
</tr>
</table>
</form>
{% if request.GET %}
<div class="title"><h1>Результати розрахунку</h1></div>
<table class="ugd_table">
<tr>
    <th>Новый R1:</th><td>{{ new_rating_1 }}</td>
    <th>Новый R2:</th><td>{{ new_rating_2 }}</td>
</tr>
<tr>
    <th>Альтернативний R1:</th><td>{{ new_rating_1a }}</td>
    <th>Альтернативний R2:</th><td>{{ new_rating_2a }}</td>
</tr>
<tr>
    <th>Вероятность победы R1:</th><td>{{ win_exp_1 }}</td>
    <th>Вероятность победы R2:</th><td>{{win_exp_2 }}</td>
</tr>
<tr>
    <th>con R1:</th><td>{{ con_param_1 }}</td>
    <th>con R2:</th><td>{{con_param_2 }}</td>
</tr>
<tr>
    <th>a R1:</th><td>{{ a_param_1 }}</td>
    <th>a R2:</th><td>{{ a_param_2 }}</td>
</tr>
</table>
</div>
{% endif %}
{% endblock %}