div.filter {
    display: inline-table;
}

table.filter {
    display: inline-table;
    width: 400px;
    border-collapse: collapse;
    vertical-align: middle;
    font-family: "Times New Roman", sans-serif;
}

table.filter td,
table.filter th {
    text-align: right;
    padding: 5px;
    line-height: 10px;
}

input, select {
    width: 275px;
}


table.filter thead th,
table.filter thead td {
    background: darkgreen left bottom repeat-x;
    padding: 10px 10px;
    color: white;
}

table.filter tr {
    background-color: whitesmoke;
}

table.filter tr:hover {
    background-color: darkgreen;
    color: white;
    cursor: pointer;
}

button {
    display: inline-block;
}