body {
	background-color: #eff4ef;
	text-align: center;
    align-self: center;
    vertical-align: baseline;
    font-family: "Cambria", sans-serif;
	margin-top: 60px;
	margin-bottom: 20px;
	margin-left: 5px;
	margin-right: 5px;
}

h1 {
	color: black;
	font-family: "Georgia", sans-serif;
	font-weight: bold;
	margin: 5px;
}

td, th {
	padding: 5px 5px;
}

#suggest {
	display: block;
	padding: 6px;
	border: 1px solid #ccc;
	background: #fff;
	position: relative;
}
#suggest div:hover {
	background: #999;
	color: #fff;
}
