body {
	background-color: #eff4ef;
	text-align: center;
    align-self: center;
    vertical-align: baseline;
}

h1 {
	color: black;
	font-family: "Georgia", sans-serif;
	margin: 5px;
}

td, th {
	padding: 5px 5px;
}
