.table-container {
    display: inline-table;
	width: 100%;
    max-width: 1000px;
}

.ugd_responsive {
	overflow-x: auto;
}
.ugd_table {
    border: 1px lightgrey solid;
    background-color: snow;
    width: 100%;
    margin: 5px;
    color: black;
}

.ugd_table a,
.ugd_table a:link,
.ugd_table a:visited {
    display: inline-block;
    text-decoration: underline;
    font-weight: bold;
    background-color: inherit;
    color: inherit;
}

.ugd_table th {
    text-align: center;
    background: darkgreen;
    color: white;
}

.ugd_table thead th > a:link,
.ugd_table thead th > a:visited {
    color: white;
    text-decoration: none;
}

.ugd_table thead th.orderable > a {
    padding-right: 15px;
    background: right center no-repeat;
}
.ugd_table thead th.orderable.asc > a {
    background-image: url(images/arrow-active-up.png);
}
.ugd_table thead th.orderable.desc > a {
    background-image: url(images/arrow-active-down.png);
}

.ugd_table tr:hover td a {
    cursor: pointer;
    display: block;
}

tr.gold_belt:hover {
    background-color: gold;
    color: black;
}

tr.black_belt:hover {
    background-color: #323232;
    color: whitesmoke;
}

tr.blue_belt:hover {
    background-color: #000064;
    color: whitesmoke;
}

tr.green_belt:hover {
    background-color: #006400;
    color: whitesmoke;
}

tr.yellow_belt:hover {
    background-color: #ffff20;
    color: black;
}

tr.white_belt:hover {
    background-color: #ffffff;
    color: black;
}

