div.table-container {
    display: inline-table;
    align-content: center;
}

table.ugd_table {
    display: inline-table;
    align-self: center;
    align-content: center;
    border: 2px solid darkgreen;
    width: 1000px;
    border-collapse: collapse;
    vertical-align: middle;
	background-color: #d9ead3;
}

table.ugd_table,
table.ugd_table + ul.pagination {
    font-family: "Times New Roman", sans-serif;
    margin: 20px;
}

table.ugd_table a:link,
table.ugd_table a:visited,
table.ugd_table + ul.pagination > li > a {
    color: black;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
}

table.ugd_table a:hover {
    color: whitesmoke;
}

table.ugd_table td,
table.ugd_table th {
    text-align: center;
    padding: 10px;
    line-height: 14px;
}


table.ugd_table thead th,
table.ugd_table thead td {
    background: darkgreen left bottom repeat-x;
    padding: 10px 10px;
    color: white;
}

table.ugd_table thead th > a:link,
table.ugd_table thead th > a:visited {
    color: white;
}

table.ugd_table thead th.orderable > a {
    padding-right: 20px;
    background: url(images/arrow-inactive-up.png) right center no-repeat;
}
table.ugd_table thead th.orderable.asc > a {
    background-image: url(images/arrow-active-up.png);
}
table.ugd_table thead th.orderable.desc > a {
    background-image: url(images/arrow-active-down.png);
}

table.ugd_table tr.odd {
    background-color: whitesmoke;
}

table.ugd_table tr.even {
    background-color: whitesmoke;
}

table.ugd_table tr:hover, table.ugd_table tr:hover td a {
    background-color: darkgreen;
    color: white;
}

table.ugd_table tr:hover td a {
    cursor: pointer;
    display: block;
}

table.ugd_table + ul.pagination {
    background: white url(images/pagination-bg.gif) left 180% repeat-x;
    overflow: auto;
    margin: 0;
    padding: 10px;
    list-style: none;
}

table.ugd_table + ul.pagination > li {
    float: left;
    line-height: 22px;
    margin-left: 10px;
}

table.ugd_table + ul.pagination > li:first-child {
    margin-left: 0;
}

table.ugd_table + ul.pagination > li.cardinality {
    float: right;
    color: #8d8d8d;
}

table.ugd_table > tbody > tr > td > span.true,
table.ugd_table > tbody > tr > td > span.false {
    background: no-repeat top left;
    display: inline-block;
    height: 16px;
    overflow: hidden;
    text-indent: -200px;
    width: 16px;
}

table.ugd_table > tbody > tr > td > .missing {
    background: transparent url(images/missing.png) right center no-repeat;
    color: #717171;
    padding-right: 20px;
}

table.ugd_table > tbody > tr > td > .missing:hover {
    color: whitesmoke;
}

table.ugd_table > tbody > tr > td > span.true {
    background-image: url(images/true.png);
}

